* {
  box-sizing: border-box;
}

footer {
  background-color: rgba(0,0,0,.9);
  padding: 1rem;
  color: #fff;
  text-align: center;
 height: 10rem;
  

}

p {
 font-size: 1rem;
  display: inline;
  line-height: 3rem;
  

}

.bold {
	font-weight: bold;
}

nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
 
  color: red;
  padding: 2rem 0.5rem;

  line-height: 3rem;
  display: inline-block;
  
}